DATABASE_URL="PASTE_YOUR_POSTGRESQL_CONNECTION_STRING_HERE"

AUTH_SECRET="PASTE_A_LONG_RANDOM_SECRET_HERE"

AUTH_GOOGLE_ID="PASTE_YOUR_GOOGLE_OAUTH_CLIENT_ID_HERE"
AUTH_GOOGLE_SECRET="PASTE_YOUR_GOOGLE_OAUTH_CLIENT_SECRET_HERE"

GEMINI_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:9000"
